<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
	    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/simplebar.min.css"/>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>